
.has-live-session-today-alert {
    position: absolute;
    bottom: 76px;
    left: 16px;
    right: 16px;
    border: 1px solid rgba(18, 31, 62, 0.40);
    background: rgba(18, 31, 62, 0.40);
    backdrop-filter: blur(4px);
}

.upcoming-live-sessions-card {

    &:after {
        content: "";
        position: absolute;
        top: 8px;
        left: 8px;
        right: -8px;
        bottom: -8px;
        border-radius: 24px;
        border: 1px dashed var(--gray-300);
        z-index: -1;
    }
}

.card-with-dashed-mask {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 8px;
        bottom: -12px;
        left: 12px;
        right: 12px;
        z-index: -1;
        border-radius: 16px;
        border: 1px dashed var(--gray-300);
    }
}

.panel-course-card-1 {

    .card-mask {
        position: absolute;
        inset: 12px;
        bottom: -12px;
        border-radius: 24px;
        opacity: 0.5;
        background-color: var(--white);
        z-index: 1;
    }

    &__content {
        width: calc(100% - 284px); // image-box + 12gap*3
    }

    &__image {
        width: 248px;
        min-width: 248px;
        height: 242px;

        .is-live-course-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 4px solid var(--white);
            background-color: rgba(255, 255, 255, 0.30);
            backdrop-filter: blur(5px);
        }
    }

    @media (max-width: $screen-lg-max) {
        &__image {
            width: 208px;
            min-width: 208px;
            height: 214px;
        }

        &__content {
            width: calc(100% - 244px); // image-box + 12gap*3
        }
    }

    &__badges {
        position: absolute;
        top: 8px;
        left: 8px;
        right: 8px;
        z-index: 2;


        .badge {
            padding: 4px 8px 4px 4px;
            border-radius: 32px;
            pointer-events: none;
        }

        .rtl & {

            .badge {
                margin-right: 0;
                margin-left: 8px;
            }
        }
    }

    .progress-bar {
        position: relative;
        height: 4px;

        span {
            height: 4px;
        }
    }

    @media (max-width: $screen-sm-max) {
        &__image, &__content {
            width: 100%;
        }

    }
}


.panel-course-grid-card {

    &__image {
        width: 100%;
        height: 268px;
    }

    &__body {
        margin-bottom: -68px;
    }

    &__title {
        max-height: 42px;
        font-weight: 700;
        line-height: 21px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__content {
        position: relative;
        top: -68px;
        height: 264px;
        z-index: 1;

        &.is-favorites-card {
            height: 192px;
        }

        &:after {
            content: "";
            position: absolute;
            top: 12px;
            left: 12px;
            right: 12px;
            bottom: -12px;
            border-radius: 16px;
            opacity: 0.5;
            background: var(--white);
            z-index: -1;
        }
    }

    &.is-invited-course-card {

        .panel-course-grid-card__content {
            height: 210px;
        }
    }

    &__actions-box {
        position: absolute;
        top: 4px;
        left: 12px;
        right: 12px;
        z-index: 2;


        .badge {
            padding: 4px 8px 4px 4px;
            border-radius: 32px;
            pointer-events: none;
            margin-top: 8px;
            margin-right: 8px;
        }

        .webinar-card-actions-btn {
            background: rgba(18, 31, 62, 0.40);
        }

        .rtl & {

            .badge {
                margin-right: 0;
                margin-left: 8px;
            }
        }
    }

    .is-live-course-icon {
        position: absolute;
        top: 68px;
        left: 50%;
        transform: translateX(-50%);
        border: 4px solid var(--white);
        background-color: rgba(255, 255, 255, 0.30);
        backdrop-filter: blur(5px);
    }
}

.item-card-actions-dropdown-container {
    position: absolute;
    top: 28px;
    right: 28px;
    z-index: 4;

    .rtl & {
        right: auto;
        left: 28px;
    }
}
