@import "../../bootstrap/variables";

/*
@media (max-width: $screen-sm-max) {
    width: 100px;
    height: 100px;
}*/

.meeting-package-grid-card-1 {

    &__mask {
        position: absolute;
        inset: 8px;
        bottom: -8px;
        border-radius: 24px;
        opacity: 0.5;
        background-color: var(--white);
        transition: all 0.3s ease;
        z-index: 1;

        .profile-container & {
            border: 1px solid var(--gray-200);
        }
    }

    .card-with-border &__contents {
        border: 1px solid var(--gray-200);
    }

    .card-with-border &__mask {
        display: none;
    }

    &:hover &__mask {
        top: -8px;
        bottom: 8px;
    }

    &__discount-badge {
        position: absolute;
        top: 28px;
        right: 16px;
        z-index: 3;

        .rtl & {
            right: auto;
            left: 16px;
        }
    }
}
