@import "../../bootstrap/variables";


.countdown-call-to-action-section {
    padding-top: 64px;
    padding-bottom: 64px;

    &.container {

        &, & .countdown-call-to-action-section__bg-wrapper {
            border-radius: 32px;
        }

    }

    &__bg-wrapper {
        position: absolute;
        inset: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
    }

    &__main-image {
        width: 100%;
        height: 400px;
    }

    &__overlay-image {
        position: absolute;
        width: 200px;
        height: 200px;
        bottom: 40px;
        right: -100px;

        img {
            width: 100%;
            height: 100%;
        }

        .rtl & {
            right: auto;
            left: -100px;
        }
    }

    &__statistic-divider {
        width: 1px;
        height: 32px;
        opacity: 0.3;
        background-color: var(--white);
    }

    /*@media (max-width: $screen-sm-max) {

    }*/

}

