@import "../../bootstrap/variables";

.discounted-courses-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--secondary);
    border-radius: 48px;
    padding: 48px;
    margin-top: 175px;
    margin-right: -48px;
    margin-left: -48px;


    &__floating-icon {
        position: absolute;
        width: 208px;
        height: 208px;
        top: -88px;
        right: 48px;

        img {
            max-width: 100%;
            max-height: 100%;
        }

        .rtl & {
            right: auto;
            left: 48px;
        }
    }

    @media (max-width: $screen-sm-max) {
        height: auto;
        margin-right: 0;
        margin-left: 0;
        margin-top: 100px;
        padding: 48px 24px;

        &__floating-icon {
            width: 104px;
            height: 104px;
            top: -60px;
        }
    }

}

