
@import "bootstrap/variables";

@import "panel/header";
@import "panel/sidebar";
@import "panel/public";
@import "panel/support";
@import "panel/subscribes";
@import "panel/meeting";
@import "panel/quiz";
@import "panel/payout";
@import "panel/setting";
@import "panel/webinars";
@import "panel/upcoming_course";
@import "panel/bundles";
@import "panel/products";
@import "panel/notification";
@import "panel/marketing";
@import "panel/reward";
@import "panel/installment";
@import "panel/ai-contents";
@import "panel/dashboard";
@import "panel/events-calendar";
@import "panel/course-statistics";
@import "panel/assignments";
@import "panel/promotions";
@import "panel/events";

