@import "../../../bootstrap/variables";

.theme-footer-2 {
    width: 100%;

    &__bg-wrapper {
        position: absolute;
        inset: 0;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
    }

    &__logo {
        height: 44px;

        img {
            height: 100%;
        }
    }

    &__back-to-top {
        position: absolute;
        top: -24px;
        right: 0;

        .rtl & {
            right: auto;
            left: 0;
        }
    }

    @media (max-width: $screen-sm-max) {
        &__section {
            height: auto !important;
        }
    }
}
